.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bottom-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid white;
}

.title {
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* padding-left: 25px; */
}

.title-text {
  display: flex;
  /* text-align: center; */
  align-items: center;
  color: white;
  gap: 10px;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
/* border: 1px solid red; */
}

.title-icon {
  /* border: 1px solid red; */
  font-size: 2rem;
}

.title-text-inner {
  /* color: red; */
  font-size: 2rem;
}

.title-nav-icon {
  color: white;
  background-color: var(--navy);
  display: none;
  cursor: pointer;
}

.title-nav-icon:hover {
  color: rgb(206, 206, 206);
}