.form-wrapper {
  padding: 15px;
}
.note-wrapper {
  padding: 15px;
}

.notes-wrapper {
  width: 100%;
  background-color: var(--orange);
  padding: 20px;
}
.create-folder-input:hover {
  background-color: var(--green-apple);
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  width: 100%;
  background-color: transparent;
  text-align: left;
  border-radius: 5px;
  padding: 5px 10px;
}

.add-task-btn:hover {
  background-color: var(--gold);
}

.cancel-btn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(255, 131, 131);
  flex: 1;
}
.cancel-btn:hover {
  background-color: rgb(234, 112, 112);
}
.create-btn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightgreen;
  flex: 1;
}

.create-folder-btn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightgreen;
  width: 100%;
}

.create-folder-btn:hover {
  background-color: rgb(129, 225, 129);
}

.create-btn:hover {
  background-color: rgb(129, 225, 129);
}

.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-task-btn-wrapper {
  display: flex;
  gap: 10px;
}

.new-task-content-input {
  border-radius: 5px;
  border: 1px solid black;
}

.folder-name-input {
  border-radius: 5px;
  border: 1px solid black;
}

.fa-reg-circle-wrapper {
  /* margin-right: 5px; */
  /* padding: 8px; */

  cursor: pointer;
}

.single-note-delete-icon-wrapper {
  /* padding: 8px; */
  /* height: 60px; */
  /* line-height: 40px; */
  /* border: 1px solid green; */
}

.single-note-delete-icon {
  cursor: pointer;
}

.single-note-delete-icon:hover {
  color: red;
}

.fa-reg-circle:hover {
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}

.single-note-content {
  /* margin-top: 4px; */
  /* padding: 8px; */
  
}

.single-note-wrapper {
  display: flex;
  /* border-top: 2px solid white;
  border-left: 2px solid white; */
  justify-content: space-between;
  /* margin-top: 10px; */
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;

}

.single-note {
  /* border: 1px solid red; */
  word-break: break-all;
  /* display: flex;
  align-items: center;
  gap: 10px; */

}
